body{
  
  background:#4B79BC;
}



.header{
    margin:10px 0;
    padding:5px 0;
}


 .header-title{
 	color:white;
 	font-style:italic;
 	font-size:1.2em;
 	text-align:center;
 	position:relative;
 	bottom:35px;
 }

 .header-figure{
     display:inline-block;
     margin-left:5px

 }


 .footer{
 	display:flex;
 	justify-content:center;
 }



   .footer p{
   	 color:white;
   }



.section{
  border:1px dashed white;
  text-align: center;
  padding:5px 0;
  margin:0 10px;
}


  .section-figure img{
  	border-radius:50%;
  	width:70px;
  }

   .section-content{
  	color:white;
  	font-style:italic;
  	margin:10px 10px;
   }

    .section-content:first-letter{
        color:red;
        font-style:red;
       font-size:20px; 
     }




    .principal-figure{
      display:inline-block;
      position:relative;
      bottom:10px; 
    }

    .principal-figure img{
        width:75px;
    }

    .principal-article{
      border:2px solid white;
      margin:10px 0;
      position:relative;
      text-align:center;
      margin:10px 50px;
      border-radius:20px;
      max-width:100%;
    }

    .principal-article p{
      color:white;
      font-style:italic;
      width:590px;
      display:inline-block;
      margin-left:15%;
    }






/***********FUENTES DE ICONOS********************/ 

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?vmzco');
    src:    url('../fonts/icomoon.eot?vmzco#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vmzco') format('truetype'),
        url('../fonts/icomoon.woff?vmzco') format('woff'),
        url('../fonts/icomoon.svg?vmzco#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file:before {
    content: "\e900";
}
.icon-abajo:before {
    content: "\f0a3";
    font-size:20px;
}
.icon-arriba:before {
    content: "\f0a2";
}

.icon-abajo{
   color:white;
   text-decoration:none;
   font-weight:bold;
}

.down{
  position:relative;
  margin-left:50%;
  bottom:15px;
}

.list-item{
   list-style:none;
   text-align:center;
   display:none;
}

  .list-item li{
     color:white;
     margin:6px 0;
     font-style:italic;
     border-bottom:1px solid white;
     margin:10px 37%;
  }













